*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/.idea
/.FINALIZED
/sc/Screenshot_20260202_124701.png
/sc/Screenshot_20260202_124735.png
/sc/Screenshot_20260202_124757.png
/docs/
